/*mobile-first styling */
@font-face {
  font-family: "open-sans"; src: url("OpenSans-Regular.ttf");
}

body {
  background-color: #f9fafc;
  font-family: "open-sans";
}

#nav {
  display:flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #69696a;
  padding-bottom: 10px;
}

button {
  background-color: black;
  color: white;
  font-size: 16px;
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 10px;
}

.info {
  border-left: 2px solid #69696a;
  color: #69696a;
  padding-left: 20px;
}

@media only screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  #nav {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 50%;
  }

  a {
    padding-bottom: 0px;
    vertical-align: middle;
  }

  button {
    width: 107px;
    height: 40px;
  }
  
  .content {
    display: flex;
    margin-top: 80px;
  }

  .text {
    width: 50%;xs
  }

  .diagram {
    width: 50%;
  }
  
  .circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
  }
  
  .one {
    width: 250px;
    height: 250px;
    background-color: rgba(247,136,167,0.6);
    position: absolute;
    top: 25%;
    right: 12%;
    z-index: 3;
  }
  
  .two {
    width: 150px;
    height: 150px;
    background-color: rgba(247,193,162,0.7);
    position: absolute;
    top: 43%;
    right: 3%;
    z-index: 3;
  }
  
  .three {
    background-color: rgba(207,130,213,0.6);
    position: absolute;
    top: 30%;
    right: 1%;
    z-index: 2;
  }

  footer {
    padding-top: 100px;
    position: relative;
    text-align: center;
  }
}

@media only screen and (min-width: 992px) {
  
}