@font-face {
  font-family: "open-sans"; src: url("OpenSans-Regular.ttf");
}

body {
  background-color: #f9fafc;
  font-family: "open-sans";
}

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#nav {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}

a {
  text-decoration: none;
  padding-top: 21px;
  color: #69696a;
}

button {
  background-color: black;
  color: white;
  border-radius: 20px;
  height: 40px;
  font-size: 16px;
  width: 110px;
  margin: 10px;
  border: none;
}

.content {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: 350px;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.text {
  width:50%;
}

.info {
  border-left: 2px solid #69696a;
  color: #69696a;
  padding-left: 20px;
}

.diagram {
  width: 50%;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  box-sizing: border-box;
  display: block;
}

.one {
  width: 250px;
  height: 250px;
  background-color: rgba(247,136,167,0.6);
  position: relative;
  top: 50px;
  left: 80px;
}

.two {
  width: 150px;
  height: 150px;
  background-color: rgba(247,193,162,0.7);
  position: relative;
  top: -70px;
  left: 250px;
  z-index: 3;
}

.three {
  background-color: rgba(207,130,213,0.6);
  position: relative;
  top: -320px;
  left: 285px;
  z-index: 2;
}

footer {
  position: absolute;
  top: 80%;
  left: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
}

@media only screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
  }
  .header {
    flex-direction: column;
    order: 1;
  }

  #nav {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
  }

  a {
    padding-top: 10px;
  }

  button {
     width: 100%;
   }
  
  .content {
    order: 2;
    position: initial;
    height: auto;
    width: 100%;
    top: 0;
    transform: none;
  }

  .text {
    width: 100%;
  }
  .info {
    width: auto;
  }
  .diagram {
    display: none;
  }

  footer {
    position: initial;
    top: 0;
    left: 0;
    order: 3; 
    justify-content: flex-start;
    width: 100%;
    transform: translateY(0);
   }
}